/* Глобальные */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: radial-gradient(ellipse, #000000 60%, #4a4a4a);
    height: 100vh;
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    font-family: 'Arial';
}

p {
    margin: 0;
    color: white;
}

ul {
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    border: 1px solid rgb(73, 73, 73);
    border-spacing: 0;
    background-color: #282828;
    color: rgb(210, 210, 210);
}

th {
    border: 1px solid rgb(128, 128, 128);
}

tr {
    border: 1px solid rgb(128, 128, 128);
}

td {
    border: 1px solid rgb(128, 128, 128);
}

h1 {
    text-align: center;
    color: white;
}

h3 {
    text-align: center;
    color: white;
    margin: 0;
    margin-bottom: 1rem;
}

button {
    font-size: inherit;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

input {
    width: 100%;
}

textarea {
    width: 100%;
}

/* Разметка */
.main-wrapper {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: center;
}

.obj-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.obj-card__detailed-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.wrapper-content-centered {
    align-items: center;
    justify-content: center;
}

.btn-add__wrapper {
    display: flex;
    justify-content: right;
}

.tables-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.form-wrapper__auth-reg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

/* Компоненты */
/* Навбар */
.navbar {
    display: flex;
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 4rem;
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur(1px);
}

.navbar__content-wrapper {
    display: flex;
    padding-left: 5rem;
    padding-right: 5rem;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.navbar__links-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    height: 100%;

}

.logo {
    width: 3rem;
    height: 3rem;
}

.navbar__mob {
    display: none;
    position: fixed;
    z-index: 1010;
    top: 0;
    align-items: center;
    justify-content: space-between;
    padding: 0 4%;
    width: 100%;
    height: 4rem;
    background-color: transparent;
    backdrop-filter: blur(1px);
}

.navbar__container-mob {
    display: none;
    flex-direction: column;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    padding: 2%;
    gap: 0.5rem;
    background-color: rgba(255, 255, 255, 0.4);

    transform: translateX(100%);
    transition: 0.3s;
    animation-timing-function: ease-in-out;
}

.navbar__container-mob.hide {
    transform: translateX(100%);
    animation-name: container-mob-hide;
    animation-duration: 0.3s;
}

.navbar__container-mob.show {
    transform: translateX(0);
    animation-name: container-mob-show;
    animation-duration: 0.3s;
}

/* Карточки */
.obj-card {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    background-color: #4d6328;
    padding: 1rem;
    border: 1px solid #ffffff;
    border-radius: 1rem;

    transition: transform 0.3s;
}

.obj-card:hover {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    background-color: rgb(84, 103, 55);
    padding: 1rem;
    border-radius: 1rem;

    animation-name: obj-card;
    animation-duration: 0.3s;
    transform: scale(1.05);
}

.obj-card__detailed {   
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 80vh;
    align-items: center;
    justify-content: center;
    background-color: #4d6328;
    border-radius: 1rem;
    margin: 5% 0;
}

.obj-card__btns {
    display: flex;
    gap: 2%;
    width: 100%;
    justify-content: space-around;
}

/* Тестовые данные для входа */
.test-data__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 1rem;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 10px;
    padding: 1rem;
}

.test-data__input-draggable {
    cursor: grab;
    padding: 0.1rem;
    border: 1px solid #ffffff;
    border-radius: 10px;
    background-color: #313131;
}

/* Кнопки */
.link-btn {
    display: flex;
    background-color: #104b85;
    color: white;
    text-decoration-line: none;
    padding: 0.5rem;
    align-items: center;
    border-radius: 0.25rem;
    border: 0px;
    box-shadow: 0px 0px 10px 0px #ffffff72 inset;

    transition: transform 0.3s;
}

.link-btn:hover {
    display: flex;
    background-color: #1976d2;
    color: rgb(216, 216, 216);
    text-decoration-line: none;
    padding: 0.5rem;
    text-align: center;
    border-radius: 0.25rem;
    border: 0px;
    box-shadow: 0px 0px 10px 0px #000000;

    transform: scale(1.1) rotate(3deg);
    animation-name: btn-hover;
    animation-duration: 0.3s;
}

.link-btn:active {
    display: flex;
    background-color: #1976d2;
    color: rgb(216, 216, 216);
    text-decoration-line: none;
    padding: 0.5rem;
    text-align: center;
    border-radius: 0.25rem;
    border: 0px;
    box-shadow: 0px 0px 10px 0px #000000 inset;
}

.link-btn:disabled {
    pointer-events: none;
    opacity: 0.8;
}

.link-btn.back {
    position: absolute;
    top: 4rem;
    left: 5%;

}

.btn__exit-form {
    display: flex;
    position: absolute;
    top: -20%;
    right: -20%;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;

    transition: 0.3s;
}

.btn__exit-form:hover {
    transform: scale(1.2) rotateZ(90deg);
    transition: 0.3s;
}


.btn__item {
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: rgb(210, 210, 210);
}

.btn__item.a {
    transform: rotateZ(45deg);
}

.btn__item.b {
    transform: rotateZ(-45deg);
}

.navbar__btn-burger {
    display: flex;
    z-index: 2000;
    flex-direction: column;
    width: 2rem;
    height: 2rem;
    align-items: stretch;
    justify-content: space-between;

    transition: 0.3s;
}

.navbar__btn-burger_item {
    width: 100%;
    height: 4px;
    background-color: rgb(210, 210, 210);
}

.link-btn.card {
    box-shadow: 0px 0px 10px 0px #000000;
}

/*Формы и их состовляющие*/
.form {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 20%;
    min-width: 15rem;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    padding: 1rem;
    gap: 1rem;
    background-color: #2e003b;
    box-shadow: 0px 0px 20px 0px #ffffff;
}

.input__password-type {
    width: 1rem;
    height: 1rem;
    margin-left: 1rem;
}

.popup-window {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    backdrop-filter: blur(1px);
    align-items: center;
    justify-content: center;

    transition: 0.3s;
}

.popup-window.show {
    opacity: 1;

    transform: translateY(0);
    animation-name: popup-window-edit-show;
    animation-duration: 0.3s;
}

.popup-window.hide {
    opacity: 0;

    animation-name: popup-window-hide;
    transform: translateY(1rem);
}

/*Таблицы*/
.tr__alt {
    background-color: #4d6328;
}

.tables__btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

/* Утилитарные */
/* Position */
.position__absolute_top-left {
    position: absolute;
    top: 5rem;
    left: 0%;
}

.position__relative {
    position: relative;
}

.position__absolute {
    position: absolute;
}

/* Flexbox */
.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

/* margin */
.mrg-horizon-center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.mrg-horizon-left {
    display: flex;
    margin-right: auto;
}

.mrg__top_1rem {
    margin-top: 1rem;
}

.mrg__left_5per {
    margin-left: 5%;
}

/* align-items */
.align-items__center {
    align-items: center;
}

/* justify-content */
.justify-content__space-between {
    justify-content: space-between;
}

.justify-content__right {
    justify-content: right;
}

/* Цвета */
.text-color__pink {
    color: rgb(255, 78, 208);
}

/* Пустое пространство */
.space__05rem {
    width: 0.5rem;
    height: 0.5rem;
}

.space__1rem {
    width: 1rem;
    height: 1rem;
}

.space__2rem {
    width: 2rem;
    height: 2rem;
}

.space__4rem {
    width: 4rem;
    height: 4rem;
}

.space__5rem {
    width: 5rem;
    height: 5rem;
}

/* Атрибуты */
[aria-disabled="true"] {
    pointer-events: none;
    opacity: 0.8;
}

/* Анимации */
@keyframes btn-hover {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1.1) rotate(3deg);
    }
}

@keyframes obj-card {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}

@keyframes popup-window-edit-show {
    0% {
        display: flex;
        opacity: 0;
        transform: translateY(1rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes container-mob-show {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes container-mob-hide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

/* Медиа запросы */
@media (min-width: 426px) and (max-width: 1026px) {

    .test-data__container {
        grid-template-columns: 1fr 1fr 1fr
    }
}

@media (min-width: 601px) and (max-width: 1025px) {
    .obj-wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .obj-card__detailed {
        width: 60%;
        height: 70vh;
        margin: 10% 0;
    }

    .form {
        width: 30%;
    }
}

@media (max-width: 601px) {
    .navbar {
        display: none;
    }

    .navbar__mob {
        display: flex;
    }

    .test-data__container {
        grid-template-columns: 1fr;
    }

    .main-wrapper {
        padding-left: 5%;
        padding-right: 5%;
    }
    .obj-wrapper {
        grid-template-columns: 70%;
        justify-content: center;
    }

    .obj-card__btns {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .link-btn.card {
        padding: 0.25rem;
        margin-top: 0.25rem;
        justify-content: center;
    }

    .link-btn.add {
        width: 100%;
        justify-content: center;
    }

    .link-btn.back {
        position: static;
        justify-content: center;
    }

    .btn-add__wrapper {
        display: flex;
        width: 70%;
        margin: 0 auto;
    }

    .link-btn:hover, .obj-card:hover {
        animation: none !important;
        transition: none !important;
        transform: none !important;
    }

    .tables__btns {
        flex-direction: column-reverse;
        align-items: stretch;
        justify-content: center;
    }

    .obj-card__detailed {
        width: 100%;
        height: 60vh;
        margin: 2rem auto;
    }

    .obj-card__detailed-wrapper {
        align-items: normal;
    }

    .form {
        width: 60%;
    }
}